.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.container div{
    width: 250px;
    min-height: 230px;
    display: flex;
    background: linear-gradient(to right bottom, #252525 ,#151515 ,#252525);
    border-radius: 1em;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    margin: 10px;
    align-items: center;
}

.container div h1{
    color: rgb(219, 108, 16);
    margin-bottom: 5px;
}