* {
    /* outline: solid 1px blue; */
}

.execom {
    padding-top: 60px;
    /* background: rgb(56, 56, 56); */
    width: 100%;

}

.execom .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* padding: 10px; */
    /* margin: 10px; */
    /* width: 100%; */
}

.execom .cards .parentCard {
    overflow: hidden;
    position: relative;
    content: "";
    width: 275px;
    height: 375px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

.execom .cards .parentCard:first-child {
    scale: 1.07;
}

.execom .cards .parentCard::after {
    position: absolute;
    content: "";
    width: 200%;
    height: 200%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    letter-spacing: 5px;
    background: linear-gradient(to left, #cbcace 0%, #c0bfc3 8%, #b5b4b8 20%, #aaa9ad 25%, #9f9ea2 30%, #949497 40%, #8a898d 50%, transparent 80%);
    animation: rotate 6s linear infinite;
}

.execom .cards .parentCard:not(:nth-child(5)~*)::after {
    animation: rotate 7s linear infinite;
    background: linear-gradient(to left, #665233 0%, #554321 8%, #634514 20%, #804A00 30%, #643a00 40%, transparent 80%);
}

.execom .cards .parentCard:first-child::after {
    animation: rotate 5s linear infinite;
    background: linear-gradient(to left, #cea972 0%, #c4a069 8%, #ba9660 20%, #b08d57 25%, #a6844e 30%, #9c7b46 40%, #92723d 50%, #9f7928 60%, transparent 80%);
    scale: 150%;

}

.execom .cards .parentCard .card {
    position: relative;
    /* width: 270px; */
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right bottom, #252525, #151515, #252525);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    z-index: 1000;
}


.execom .cards .parentCard .card .image {
    height: 210px;
    width: 210px;
    border-radius: 100%;

}

.execom .cards .parentCard .card .name {
    font-size: 2em;
    color: #DB6C10;
}

.execom .cards .parentCard .card .role {
    font-size: 1em;
    color: #707070;

}

.execom .cards .parentCard .card i {
    font-size: 22px;
}

/* card style on home */


.execom .cardsHome {
    margin-top: -70px;
    justify-content: space-evenly;
    padding: 0 20px;
}

.execom .cardsHome .parentCard:first-child {
    scale: 1;
}

.execom .cardsHome .parentCard {
    width: 40%;
    min-width: 300px;
    height: 130px;
}

.execom .cardsHome .parentCard .card {
    display: grid;
    grid-template-columns: auto 40px auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    align-items: center;
    justify-content: start;
}

.execom .cardsHome .parentCard .card .image {
    grid-row: 1 / span 2;
    height: 80px;
    width: 80px;
}

.execom .cardsHome .parentCard .card .name {
    grid-column: 2 / span 2;
    align-self: flex-end;
    height: 32px;
    line-height: 32px;
}

.execom .cardsHome .parentCard .card .role,
.execom .cardsHome .parentCard .card a {
    align-self: flex-start;
}

/* until here */

@media only screen and (max-width: 520px) {
    .execom .cardsHome {
        flex-direction: column;
    }

    .execom .cardsHome .parentCard {
        min-width: 100%;
    }

}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}