.navbar .scrolled {
    background: rgba(0, 0, 0, 0.2) !important;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: calc(1-2);
}

.navbar .blur {
    border-bottom: solid 1px #000;
    backdrop-filter: blur(10px);

}

.navbar> :not(:last-child) {
    z-index: 10;
}

.navbar {
    z-index: 2000;
    position: fixed;
    height: 60px;
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 100;
    padding-inline: 20px;
}


.navbar .navLinks {
    display: flex;
    flex-direction: row;
}

.navbar .navLinks h4::selection {
    display: none;
}
.navbar .navLinks h4 {
    padding: 15px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.navbar .menuBtn {
    
    display: none;
}

.menuBtn>span,
.menuBtn>span::before,
.menuBtn>span::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}
.menuBtn>span::before {
    content: "";
    top: -8px;
}

.menuBtn>span::after {
    content: "";
    top: 8px;
    
}
.x::after , .x::before{
    top: 0px !important;
}

.x{
    transform: rotate(45deg);
}
.x::after{
    transform: rotate(90deg);
}

.navbar .navLinks h4:hover {
    color: #979797;
    transform: scaleX(110%);
}

.navbar .curtain {
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1999; */
    width: 100%;
    height: 100000px;
}

.navbar .none {
    display: none;
}


@media only screen and (max-width: 520px) {
    .navbar .menuBtn {
        display: block;
        position: absolute;
        width: 22px;
        height: 20px;
        display: flex;
        align-items: center;
        right: 20px;
        top: 18px;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 2000;
    }
    
    .navbar .navLinks {
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right bottom, rgba(20, 20, 20, 0.2), rgba(65, 65, 65, 0.2), rgba(22, 22, 22, 0.2));
        border: solid 1px #000;
        width: 170px;
        height: 223px;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 60px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        /* -webkit-tap-highlight-color: transparent; */
        border-radius: 1em;
        flex-direction: column;
        overflow: hidden;
        transition: all 0.2s ease-out;
        z-index: 2000;
    }

    .navbar .hide {
        visibility: none;
        transition: all 0.4s ease;
        width: 0px;
        height: 0px;
    }

    .navbar .navLinks h4 {
        /* backdrop-filter: blur(10px); */
        font-size: 1rem;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .navbar .navLinks h4:not(:first-child) {
        border-top: solid 0.1px #000;
    }

}