@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
}

.App{
    background: #000;
    
}