.banner {
    background-image: url(https://images.pexels.com/photos/12709063/pexels-photo-12709063.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-clip: content-box;
    background-blend-mode: multiply;
    width: 100%;
    height: 400px;
}

.banner .contents {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 10%;
    justify-content: center;
    width: 75%;
    height: 100%;
}

.banner .contents>*:not(h1) {
    margin-bottom: 8px;
}

.contents>* {
    transform: perspective(200);
}

.banner .contents h1 span {
    color: #DB6C10;
}

.banner .contents button {
    width: 110px;
    height: 35px;
    border-radius: 20px;
    /* background: #DB6C10; */
    background: linear-gradient(to bottom right, #DB6C10 0%, #c4712d 51%, #f0a76c 100%);
    /* box-shadow: 0 7px 7px rgb(44, 44, 44), 1px 0 7px rgb(0, 0, 0), -1px -1px 7px rgb(34, 34, 34); */
    /* margin-inline: auto; */
    color: #000;
    transition: all 0.05s ease-in-out;
}

.banner .contents button:hover {
    /* background: linear-gradient(to bottom right, #ff3300 0%, #e06b0b 51%, #f0a76c 100%); */
    transform: scaleX(107%) scaleY(105%);
}

@media only screen and (max-width: 710px) {
    .banner {
        background-size: cover;
        background-position: top;
    }
}